{{> head }}

{{> navbar }}

  <div class="row">

    <div class="col-8">
      <h1>
        Assassins Creed
      </h1>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla nisi quidem quisquam fugiat eius. Voluptates in ea sunt illo alias quas aliquid repellendus. Eum nemo culpa nihil accusantium quisquam quasi.
      </p>
    </div>

    <div class="col-4">
      <img src="assets/img/assassins.jfif" class="img-thumbnail">
    </div>

  </div>  

{{> footer }}